@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$white:#fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: grid;
  grid-template-rows: min-content auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,rgb(192, 99, 46) 0%, rgb(237, 130, 56) 26%, rgb(241, 135, 57) 53%, rgb(242, 148, 79) 100%);
}

h1 {
  font-size: 50px;
  color: $white;
}