// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$lilac: #0079BF;
$green: #5AAC44;
$white: #FFF;
$skyblue: skyblue;
$red: red;

.container, .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 100%;
  padding: 10px 0;
}

.form {
  width: 450px;
  min-height: 355px;
  gap: 15px;
  background-color: #231d3a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 40px 0;

  &__input-box {
    width: 224px;
  }

  &__label {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $white;
  }

  &__input, &__select, &__button {
    outline: none;
  }

  &__input, &__select {
    width: 100%;
    border: 1px solid $lilac;
    border-radius: 3px;
    height: 32px;
  }

  &__input {
    padding: 5px;
  }

  &__button {
    min-width: 77px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    background-color: $green;
    color: $white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 10px;
    transition: ease 0.5;

    &:hover {
      background-color: #71c75a;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: $skyblue;
  }
}

.error {
  color: $red;
  margin-bottom: 5px;
}